body {
    background-color: white;
  }
  
  h1 {
    color: black;
    text-align: left;
    margin-left:80px;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
    margin-left:80px;
  }
  h3 {
    text-align: right;
    margin-top:-90px;
  }

  .section {
   margin-left:20px;
   margin-right:80px;
   
  }
  .section1 {
    margin-left:20px;
    margin-right:80px;
    
   }
   .section2 {
    margin-left:25px;
    margin-right:80px;
    
   }
   .section3 {
    margin-left:25px;
    margin-right:80px;
    
   }
   .article {
    margin-left:25px;
    margin-right:80px;
    
   }
   .article1 {
    margin-left:25px;
    margin-right:80px;
    
   }
